/* p-about
--------------------------- */
@use "./../../foundation/system" as s;

.p-about {
	&__figure {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}
	&__image {
		// flex: 0.5;
		width: 160px;
		border-radius: 50%;
		object-fit: cover;
	}
	&__figcaption {
		flex: 1;
		max-width: 640px;
		h3 {
			font-weight: 700;
		}
		p {
			margin-top: 20px;
		}
	}
	&__links {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 16px;
		margin-top: 20px;
	}
	&__link {
		width: 40px;
		background-color: s.$c-body;
		border-radius: 50%;
	}

	@include s.breakpoint(tablet) {
		&__figure {
			flex-direction: row;
		}
	}
	@include s.breakpoint(pc) {
	}
}
