/* p-feature
--------------------------- */
@use "./../../foundation/system" as s;

.p-feature {
	&__figure {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 24px;
		+ .p-feature__figure {
			flex-direction: row-reverse;
			margin-top: 56px;
		}
	}
	&__image {
		width: 100%;
	}
	&__figcaption {
		width: 100%;
		h3 {
			font-size: 18px;
			font-weight: 700;
		}
		dl {
			margin-top: 20px;
		}
	}

	@include s.breakpoint(tablet) {
		&__image {
			width: 40%;
		}
		&__figcaption {
			width: 40%;
		}
	}
	@include s.breakpoint(pc) {
	}
}
