/* p-skill
--------------------------- */
@use "./../../foundation/system" as s;

.p-skill {
	&__lists {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 30px;
		max-width: 1000px;
		margin: 44px auto;
	}
	&__list {
		display: flex;
		align-items: flex-start;
		flex: 100%;
		gap: 16px;
	}
	&__icon {
		width: 60px;
	}
	&__rate {
		position: relative;
		z-index: 0;
		display: inline-block;
		white-space: nowrap;
		color: s.$c-base-right;
		&:after,
		&:before {
			content: "★★★★★";
		}
		&:after {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			overflow: hidden;
			white-space: nowrap;
			color: s.$c-accent;
		}
		&[data-rate="5"]:after {
			width: 100%;
		}
		&[data-rate="4"]:after {
			width: 80%;
		}
		&[data-rate="3"]:after {
			width: 60%;
		}
		&[data-rate="2"]:after {
			width: 40%;
		}
		&[data-rate="1"]:after {
			width: 20%;
		}
		&[data-rate="0"]:after {
			width: 0%;
		}
	}
	&__list:last-of-type .p-skill__rate {
		&:before,
		&:after {
			content: "★★★★★★★★★★";
		}
	}

	@include s.breakpoint(tablet) {
		&__list {
			flex: 44%;
		}
	}
	@include s.breakpoint(pc) {
	}
}
