/* l-footer
--------------------------- */
@use "./../foundation/system" as s;

.l-footer {
	text-align: center;

	// &__scroll {
	// 	display: block;
	// 	background-color: s.$c-accent;
	// 	color: s.$c-body;
	// 	font-size: 12px;
	// 	padding: 6px;
	// 	// デフォルトのaタグのアクションを消す
	// 	&:after {
	// 		height: 0;
	// 	}
	// 	&:hover {
	// 		opacity: 0.7;
	// 	}
	// }
	&__inner {
		background: s.$c-base-dark;
		padding: 30px;
	}
	&__copy {
		color: s.$c-base-right;
		font-size: 12px;
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
